{%  extends 'base.html'%}


{% block conteudo%}
<h1>Login</h1>
<hr>
{% if not user.is_authenticated %}
  <form method="POST" action="{% url 'login'%}">
      {% if messages %}
        <br><br><br>
          {% for message in messages %}
            
            <div class="alert {{ message.tags }} " role="alert">{{ message }}</div>
          {% endfor %}
      {% endif %}
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Usuario</label>
        <input type="text" class="form-control" name="usuario"  placeholder="Ex: dukinhaPressão">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" class="form-control" name="senha" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Entrar</button>

      <a href="{% url 'cadastro' %}">Não tenho conta</a>
  </form>

{% else %}
 <a class="ml-10" href="{% url 'logout'%}">Sair</a>

{% endif %}
{% endblock %}